<div [ngClass]="['tweet-container', colorTheme]">
  <img src="" class="profile-image" />
  <div class="content-container">
    <header>
      <span class="name">{{tweet.fname}}</span>
      <span>@</span>
      <span>{{tweet.username}}</span>
      <span></span>
      <mat-icon></mat-icon>
    </header>
    <main>
      <div>{{tweet.description}}</div>
    </main>
    <footer>
      <fa-icon [icon]="faComment" class=""></fa-icon>
      <fa-icon [icon]="faRetweet" class=""></fa-icon>
      <fa-icon [icon]="faHeart" class=""></fa-icon>
      <fa-icon [icon]="faExternalLinkAlt" class=""></fa-icon>
    </footer>
  </div>
</div>