<p>login works!</p>
<main class="main">
    <a class="button-twitter" href="https://twitter.com/" target="_blank"></a>
    <form class="login">
      <svg class="login-sides">
        <line class="top-right first" x1="50%" x2="100%" y1="0" y2="0"/>
        <line class="top-left first" x1="50%" x2="0" y1="0" y2="0"/>
        <line class="right second" x1="100%" x2="100%" y1="0" y2="100%"/>
        <line class="left second" x1="0" x2="0" y1="0" y2="100%"/> 
        <line class="bottom-left third" x1="0" x2="50%" y1="100%" y2="100%"/>
        <line class="bottom-right third" x1="100%" x2="50%" y1="100%" y2="100%"/>
      </svg>
      <fieldset class="login-fieldset">
        <input type="text" placeholder="Username" class="login-fieldset-field">
        <input type="password" placeholder="******" class="login-fieldset-field">
        <button type="submit" class="login-fieldset-submit">
          Login
        </button>
      </fieldset>
    </form>
  </main>