$default-font-size: 8px;
$twitter-color: #55acee;
$animation-time: 0.5s;
// mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin square-size($value) {
  @include size($value, $value);
}

@mixin border($size: 0, $type: solid, $color: $twitter-color, $radius: 0) {
  border: 0;
  @if $size>0 {
    border: $size $type $color;
  }
  @if $radius>0 {
    border-radius: $radius;
  }
}

@mixin position($type: relative, $top: auto, $bottom: auto, $left: auto, $right: auto) {
  position: $type;
  @if $type==absolute {
    bottom: $bottom;
    left: $left;
    right: $right;
    top: $top;
  }
}

// keyframes
@keyframes button-twitter-animation {
  from {
    top: 50%;
    @include size(10em, 10em);
  }
  to {
    top: -3em;
    @include size(6em, 6em);
  }
}

@keyframes login-fadein {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes login-border-animation {
  to {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0;
  }
}

// reset
* {
  font-size: $default-font-size;
}

// styles
.main {
  @include position();
  margin-top: 30vh;
}

%login-item {
  min-width: 250px;
  font-size: 1.6em;
  margin: 0.8em auto;
  padding: 0.8em;
  width: 80%;
  box-sizing: border-box;
}

.login {
  width: 300px;
  box-sizing: border-box;
  margin: auto;
  @include position(relative);
  @include border($radius: 5px);
  
  &-sides {
    @include square-size(100%);
    @include position($type: absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
    @include border($radius: 5px);
    line {
      fill: none;
      stroke: $twitter-color;
      stroke-dasharray: 100%;
      stroke-dashoffset: 100%;
      stroke-linecap: round;
      stroke-width: 5;
      animation: login-border-animation $animation-time forwards;
      &.first {
        animation-delay: $animation-time;
      }
      &.second {
        animation-delay: $animation-time + 0.25s;
      }
      &.third {
        animation-delay: $animation-time*2;
      }
    }
  }
  &-fieldset {
    animation: login-fadein $animation-time ease-in-out forwards;
    animation-delay: $animation-time;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 5em 0;
    opacity: 0;

    &-field {
      @extend %login-item;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      @include border($size: 1px, $color: #f2f2f2);
    }
    &-submit {
      @extend %login-item;
      background-color: $twitter-color;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
      color: #fff;
      font-weight: bold;
      @include border($radius: 3px);
    }
  }
}

.button-twitter {
  animation: button-twitter-animation $animation-time forwards;
  background-image: url("https://image.flaticon.com/icons/svg/145/145812.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: $twitter-color;
  margin: auto;
  z-index: 1;
  transition: box-shadow 0.5s;
  @include border($size: 3px, $color: #fff, $radius: 50%);
  @include position($type: absolute, $left: 0, $right: 0);
  @include size($width: 6em, $height: 6em);
  &:hover {
    box-shadow: 0px 1px 1px 1px #ccc;
  }
}
